body, html {
	font-family: "Roboto";
	min-height: 100vh;
	min-width: 100vw;
	position: cover;
	background-color: #EEEEEE;
}

#navbar{
	background-color: #272D4E;
	height: 80px;
}
#logo{
  	padding: 10px;
    height: 70px;
	margin-top: 5px;
}
.github{
	background-color: #FBC02D;
	color: #000;
	margin-top: 10px;
	margin-right: 10px;
}
.github:hover{
	background-color: #FBC02D;
	color: #000;
}
#createSection{
	width: 40%;
	background-color: #FFFFFF;
}
#btn{
	background-color: #7A7F99;
}
#objectOutput{
	width: 40%;
	margin-top: 100px;
}
.header{
	color: #414B82;
}
.category{
	color: #B0B2B5;
}
#objectOutputName{
	color: #414b82;
}
#objectOutputDate{
	color: #414b82;
}#objectOutputID{
	color: #414b82;
}
#input{
	padding-left: 25px;
	padding-right: 25px;
}
  /* label color */
   .input-field label {
     color: #ffd700;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ffd700;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ffd700;
     box-shadow: 0 1px 0 0 #ffd700;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #ffd700;
     box-shadow: 0 1px 0 0 #ffd700;
   }
   