body, html {
	font-family: "Roboto";
}

#navbar{
	background-color: #272D4E;
}
#logo{
	height: 50px;
	width: 50px;
	margin-top: 5px;

}
#createSection{
	width: 40%;
}
#btn{
	background-color: #414b82;
}
#objectOutput{
	width: 40%;
	margin-top: 50px;
}