body, html {
	font-family: "Roboto";
}

#navbar{
	background-color: #272D4E;
}
#logo{
	height: 50px;
	width: 50px;
	margin-top: 5px;

}
#createSection{
	width: 40%;
}
#btn{
	background-color: #7A7F99;
}
#objectOutput{
	width: 40%;
	margin-top: 50px;
}
.header{
	color: #414B82;
}
.category{
	color: #B0B2B5;
}